body {
    background-color: black;
    background-position: center;
}

#headerPanel {
    margin-top: 200px;
}

/* setting title text in center of image */
#headerPanel img {
    margin: 0 auto;
}

#Header {
    font-size: 60px;
    text-align: center;
    color: #3a2618;
    font-family: 'Wendy One', sans-serif;
    letter-spacing: 2px;

    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(5%, -45%);
}

.container {
    position: relative;
    color: aqua;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}

.container-2 {
    position: relative;
    color: aqua;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}

.container-3 {
    position: relative;
    color: aqua;
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
}

/* setting text in center of image */
#bigPanel {
    margin: 0 auto;
}

#bigPanel img {
    position: relative;
    margin: 0 auto;
}

#mainPanelTextbox {
    position: absolute;
    top: 35%;
    left: 33.33%;
    transform: translate(-18%, -33.33%);
}

#insturctionsTitle {
    font-size: 26px;
    font-weight: bold;
    color: #8afaff;
}

#wrapper {
    color: burlywood;
    overflow: hidden;
}

/* #scoreBoard {
    float: left;
} */
#scoreBoardName {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 22px;
   
}
#randomNumberContainer {
    position: relative;
    width: 60%;
    font-weight: bold;
    font-size: 22px;
    float: left;
}

#wins {
    color: azure;
}

#losses {
    color: azure;
}

#randomNumber {
    color: azure;
}

#sumNumberBoard {
    color: burlywood;
    font-weight: bold;
    font-size: 22px;
}

/* setting score text in center of image */

#sumNumberBoard {
    position: relative;
    margin-left: 38%;
}

#sumNumberBoard img {
    max-width: 300px;
}

#sumNumber {
    position: absolute;
    margin: 0 auto;
    top: 10%;
    left: 50%;
    transform: translate(-115%, 50%);
}

#userNumber {
    color: azure;
    position: center;
}

#crystalImage {
    position: relative;
    margin: 0 auto;
    padding-left: 20%;
    width: 600px;
       
}
.crystalImage img {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    margin-top: 30px;
    position: center;
    width: 100px;
}

button {
    background-color: transparent;
    border: 0 none;
    box-shadow: none;
}